In [1]:
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
# Suppress all warnings
warnings.filterwarnings('ignore')

import string

In [3]:
power_five_schools = ['Alabama', 'Georgia', 'LSU', 'Michigan', 'Florida', # power five schools plus Notre Dame and Uconn
                      'Notre Dame','Clemson', 'Oklahoma', 'Oregon', 'Auburn', 
                      'Texas', 'Washington', 'USC','Ohio State', 'Mississippi', 
                      'Iowa', 'Texas A&M', 'Ohio St.','Arkansas', 'Utah', 'South Carolina',
                      'Wisconsin', 'Kentucky', 'UCLA','Stanford', 'TCU', 'Louisville', 
                      'Missouri', 'Pittsburgh', 'Miami (FL)','Florida State', 
                      'North Carolina', 'Tennessee', 'Virginia Tech', 'Penn St.', 
                      'Maryland', 'Nebraska', 'Baylor', 'Cincinnati', 'West Virginia', 
                      'Minnesota', 'Penn State', 'Indiana', 'Mississippi State', 'Miami', 
                      'Michigan State', 'Central Florida', 'Boston Col.', 'Illinois', 
                      'Texas Tech', 'Northwestern', 'Syracuse', 'North Carolina State',
                      'Florida St.', 'Colorado', 'California', 'Houston','Kansas St.', 
                      'BYU','Purdue', 'Duke', 'Arizona State', 'Kansas', 'Virginia',
                      'Wake Forest', 'Oklahoma St.', 'Rutgers', 'Iowa St.', 'Arizona',
                      'Georgia Tech', 'Washington State', 'Oklahoma State',  'Vanderbilt',
                      'Arizona St.',  'Mississippi St.','SMU', 'Michigan St.', 
                      'Kansas State','North Carolina St.', 'Washington St.', 'Boston College'] 


position_rollup = {
    'WR':['WR', 'CB/WR', 'wide-receiver'], 
    'CB':['CB', 'cornerback'],
    'RB':['RB', 'FB', 'HB', 'running-back', 'fullback'],
    'OT':['OT', 'LT', 'RT', 'left-tackle', 'right-tackle'],
    'LB':['LB', 'OLB', 'ILB', 'LOLB', 'ROLB', 'MLB', 'linebacker'],
    'DL':['DL','DT', 'interior-defensive-line'],
    'TE':['TE', 'tight-end'],
    'DB':['DB', 'S', 'LS', 'SAF', 'FS', 'SS', 'safety'],
    'QB':['QB', 'quarterback'],
    'OL':['OL', 'OG', 'C', 'G', 'LG', 'RG', 'left-guard', 'center', 'right-guard'],
    'K':['K', 'kicker'],
    'P':['P', 'punter'],
    'LS':['long-snapper'],
    'EDGE':['DE', 'EDGE', 'RE', 'LE', 'edge-rusher']
}

def replace_school_names(data):
    school_name_replacement_dict = {}
    
    for school in [i for i in data.School.unique() if 'St.' in i]:
        school_name_replacement_dict[school] = school.replace('St.', 'State')
    
    for school in [i for i in data.School.unique() if 'Col.' in i]:
        school_name_replacement_dict[school] = school.replace('Col.', 'College')

    return(school_name_replacement_dict)

def replace_position(data, position_col):
    """position_col is the name of the position column for the dataset"""
    # Rollup position groups 
    pos_replace_dict = {}
    for i in position_rollup.keys():
        for j in position_rollup[i]:
            pos_replace_dict[j] = i
        
    data['rolled_up_pos'] = data[position_col].replace(pos_replace_dict)
    return(data)

In [5]:
player_salaries = pd.read_csv('../data/player_salaries.csv').rename(columns = {'Team':'Team25'})
madden_ratings = pd.read_csv('../data/madden_ratings.csv').rename(columns = {'Team':'Team24'})
replace_position(player_salaries, 'position')
replace_position(madden_ratings, 'Position')
madden_ratings.loc[:,'Team24'] = madden_ratings.apply(lambda row: row['Team24'].split(' ')[-1], axis=1)

In [15]:
combine_data = pd.read_csv('../data/full_combine_data.csv')

In [17]:
def read_in_combine_data(year_range = (2015, 2025)):
    """
    Loads in the data and performs some preprocessing
    
    Inputs:
        year_range (tuple) - first and last year with available combine data

    Outputs:
        full_data (DF) - combine data with some added engineered features
    
    
    """

    # Create an empty data frame with the columns of interest
    full_data = pd.DataFrame(columns = ['Player', 'Pos', 'School', 'Ht', 'Wt', '40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle', 'drafted_team', 'drafted_round', 'drafted_pick', 'year'])


    # Iteratively read in the data for each year 
    for year in range(year_range[0], year_range[1]+1):
        # load csv
        data = pd.read_csv(f'../data/combine_data_{year}.txt')
        
        # split the Drafted (tm/rnd/yr) column into the drafted team, round, and pick columns
        data['drafted_team'] = data.apply(lambda row: row['Drafted (tm/rnd/yr)'] if str(row['Drafted (tm/rnd/yr)']) == 'nan' else row['Drafted (tm/rnd/yr)'].split('/')[0], axis=1)
        data['drafted_round'] = data.apply(lambda row: row['Drafted (tm/rnd/yr)'] if str(row['Drafted (tm/rnd/yr)']) == 'nan' else row['Drafted (tm/rnd/yr)'].split('/')[1][:-3], axis=1).astype(float)
        data['drafted_pick'] = data.apply(lambda row: row['Drafted (tm/rnd/yr)'] if str(row['Drafted (tm/rnd/yr)']) == 'nan' else row['Drafted (tm/rnd/yr)'].split('/')[2][:-8], axis=1).astype(float)

        # add a drafted flag
        data['drafted'] = data.apply(lambda row: 1 if row['drafted_round'] in [1,2,3,4,5,6,7] else 0, axis =1)

        # convert height to inches
        data['Ht'] = data.apply(lambda row:row['Ht'] if str(row['Ht']) == 'nan' else 12*int(row['Ht'].split('-')[0])+int(row['Ht'].split('-')[1]), axis=1)

        # add year of combine
        data['year'] = [year]*len(data)

        # add a binary flag for if a player came from a power 5 school (using 2025 definitions)
        data['power5'] = data.apply(lambda row: 1 if row['School'] in power_five_schools else 0, axis=1)

        # Rollup position groups 
        pos_replace_dict = {}
        for i in position_rollup.keys():
            for j in position_rollup[i]:
                pos_replace_dict[j] = i
        
        data['rolled_up_pos'] = data.Pos.replace(pos_replace_dict)

        # drop irrelevant columns
        data = data.drop(columns = ['Drafted (tm/rnd/yr)', 'Player-additional', 'College'])

        # add this year's data to the full dataframe
        full_data = pd.concat([full_data, data])

    # update school names for consistency
    full_data.School = full_data.School.replace(replace_school_names(full_data))

    # read in coach salary data
    coach_salaries = pd.read_csv('../data/coach_salaries.csv')

    # add coaches salary to data
    full_data = full_data.merge(coach_salaries, left_on = 'School', right_on = 'school', how='left')

    full_data['log_coach_salary'] = round(np.log10(full_data['salary']), 2)

    full_data = full_data.drop(columns = ['school'])

    full_data['draft_night'] = pd.cut(full_data['drafted_round'], bins=[0,1.5,3.5,7.5], labels=[1,2,3]).astype(float).fillna(4)


    return(full_data)

In [9]:
# we need to roll up position for all players and then remove punctuation and lower and replace space with underscore to make ID as first_last_pos

In [19]:
def clean_string(s):
    translator = str.maketrans('', '', string.punctuation)
    s = s.translate(translator).lower().replace(' ', '_')
    return s


madden_ratings['player_id'] = madden_ratings.apply(lambda row: clean_string(row['Player'])+'_'+row['rolled_up_pos'], axis=1)
player_salaries['player_id'] = player_salaries.apply(lambda row: clean_string(row['Player'])+'_'+row['rolled_up_pos'], axis=1)
combine_data['player_id'] = combine_data.apply(lambda row: clean_string(row['Player'])+'_'+row['rolled_up_pos'], axis=1)

In [21]:
len(combine_data) - combine_data.player_id.nunique()

5

In [23]:
combine_data.head()

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,...,drafted_round,drafted_pick,year,drafted,power5,rolled_up_pos,salary,log_coach_salary,draft_night,player_id
0,Ameer Abdullah,RB,Nebraska,69.0,205.0,4.60,42.5,24.0,130.0,6.79,...,2.0,54.0,2015,1.0,1.0,RB,9000000.0,6.95,2.0,ameer_abdullah_RB
1,Nelson Agholor,WR,USC,72.0,198.0,4.42,NaN,12.0,NaN,NaN,...,1.0,20.0,2015,1.0,1.0,WR,10000000.0,7.00,1.0,nelson_agholor_WR
2,Jay Ajayi,RB,Boise State,72.0,221.0,4.57,39.0,19.0,121.0,7.10,...,5.0,149.0,2015,1.0,0.0,RB,1100000.0,6.04,3.0,jay_ajayi_RB
3,Kwon Alexander,OLB,LSU,73.0,227.0,4.55,36.0,24.0,121.0,7.14,...,4.0,124.0,2015,1.0,1.0,LB,9500000.0,6.98,3.0,kwon_alexander_LB
4,Mario Alford,WR,West Virginia,68.0,180.0,4.43,34.0,13.0,121.0,6.64,...,7.0,238.0,2015,1.0,1.0,WR,4000000.0,6.60,3.0,mario_alford_WR

In [27]:
# need to replace the player_ids for those below:

combine_data_id_replacement_dict = {
    528:'connor_mcgovern_OL_16', 
    1524:'connor_mcgovern_OL_19', 
    1492:'isaiah_johnson_CB_19', 
    3236:'isaiah_johnson_CB_24', 
    2303:'jarrett_patterson_OL_21', 
    2997:'jarrett_patterson_OL_23', 
    237:'jordan_phillips_DL_15', 
    3651:'jordan_phillips_DL_25', 
    1959:'michael_turk_P_20', 
    3064:'michael_turk_P_23'
}

player_salaries_id_replacement_dict = {
    1572:'jordan_phillips_DL_15', 
    1584:'jordan_phillips_DL_25', 
    2595:'jaylon_jones_CB_UD', 
    2735:'jaylon_jones_CB_23'
}

madden_ratings_id_replacement_dict = {
    712:'jaylon_jones_CB_23', 
    1195:'jaylon_jones_CB_UD'
}

In [29]:
for idx in combine_data_id_replacement_dict.keys():
    combine_data.iloc[idx,-1] = combine_data_id_replacement_dict[idx]

for idx in player_salaries_id_replacement_dict.keys():
    player_salaries.iloc[idx,-1] = player_salaries_id_replacement_dict[idx]

for idx in madden_ratings_id_replacement_dict.keys():
    madden_ratings.iloc[idx,-1] = madden_ratings_id_replacement_dict[idx]

In [31]:
player_salaries

,Player,Team25,Age,Total Value,APY,Total Guaranteed,Fully Guaranteed,Free Agency,position,rolled_up_pos,player_id
0,Dak Prescott,Cowboys,32.0,240000000,60000000,231000000,129000000,2029 Void,quarterback,QB,dak_prescott_QB
1,Joe Burrow,Bengals,29.0,275000000,55000000,219010000,146510000,2030 Void,quarterback,QB,joe_burrow_QB
2,Josh Allen,Bills,29.0,330000000,55000000,250000000,147000000,2031 Void,quarterback,QB,josh_allen_QB
3,Jordan Love,Packers,27.0,220000000,55000000,160300000,100800000,2029 Void,quarterback,QB,jordan_love_QB
4,Trevor Lawrence,Jaguars,26.0,275000000,55000000,200000000,142000000,2031 Void,quarterback,QB,trevor_lawrence_QB
...,...,...,...,...,...,...,...,...,...,...,...
2925,Alex Ward,Rams,26.0,2700000,900000,5000,5000,2026 RFA,long-snapper,LS,alex_ward_LS
2926,Rex Sunahara,Browns,29.0,1755000,877500,0,0,2026 ERFA,long-snapper,LS,rex_sunahara_LS
2927,Evan Deckers,Buccaneers,26.0,1755000,877500,0,0,2026 ERFA,long-snapper,LS,evan_deckers_LS
2928,Joe Cardona,Dolphins,33.0,0,0,0,0,2026 UFA,long-snapper,LS,joe_cardona_LS
2929,Zach Triner,Broncos,34.0,0,0,0,0,2026 UFA,long-snapper,LS,zach_triner_LS

In [33]:
madden_ratings

,Player,Team24,Position,OVR,SPD,STR,AGI,COD,INJ,AWR,rolled_up_pos,player_id
0,Derrick Henry,Ravens,HB,99,93,87,84,79,93,99,RB,derrick_henry_RB
1,Justin Jefferson,Vikings,WR,99,92,64,93,98,94,99,WR,justin_jefferson_WR
2,Lamar Jackson,Ravens,QB,99,96,63,95,96,89,97,QB,lamar_jackson_QB
3,Travis Kelce,Chiefs,TE,99,85,79,85,75,97,99,TE,travis_kelce_TE
4,Trent Williams,49ers,LT,99,77,98,72,57,88,99,OT,trent_williams_OT
...,...,...,...,...,...,...,...,...,...,...,...,...
2008,Jon Weeks,Texans,TE,27,69,69,68,60,94,68,TE,jon_weeks_TE
2009,Joe Cardona,Patriots,TE,26,75,80,70,61,94,48,TE,joe_cardona_TE
2010,Matt Orzech,Packers,TE,26,78,73,77,72,88,59,TE,matt_orzech_TE
2011,Rex Sunahara,Browns,TE,26,69,62,67,59,88,50,TE,rex_sunahara_TE
2012,Zach Wood,Saints,TE,26,72,75,64,56,93,65,TE,zach_wood_TE

In [35]:
combine_data

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,...,drafted_round,drafted_pick,year,drafted,power5,rolled_up_pos,salary,log_coach_salary,draft_night,player_id
0,Ameer Abdullah,RB,Nebraska,69.0,205.0,4.60,42.5,24.0,130.0,6.79,...,2.0,54.0,2015,1.0,1.0,RB,9000000.0,6.95,2.0,ameer_abdullah_RB
1,Nelson Agholor,WR,USC,72.0,198.0,4.42,NaN,12.0,NaN,NaN,...,1.0,20.0,2015,1.0,1.0,WR,10000000.0,7.00,1.0,nelson_agholor_WR
2,Jay Ajayi,RB,Boise State,72.0,221.0,4.57,39.0,19.0,121.0,7.10,...,5.0,149.0,2015,1.0,0.0,RB,1100000.0,6.04,3.0,jay_ajayi_RB
3,Kwon Alexander,OLB,LSU,73.0,227.0,4.55,36.0,24.0,121.0,7.14,...,4.0,124.0,2015,1.0,1.0,LB,9500000.0,6.98,3.0,kwon_alexander_LB
4,Mario Alford,WR,West Virginia,68.0,180.0,4.43,34.0,13.0,121.0,6.64,...,7.0,238.0,2015,1.0,1.0,WR,4000000.0,6.60,3.0,mario_alford_WR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3742,Hunter Wohler,SAF,Wisconsin,74.0,213.0,4.57,37.0,NaN,120.0,6.72,...,7.0,232.0,2025,1.0,1.0,DB,5000000.0,6.70,3.0,hunter_wohler_DB
3743,Ernest Woodard,LB,UNLV,74.0,234.0,NaN,NaN,21.0,NaN,NaN,...,NaN,NaN,2025,0.0,0.0,LB,3500000.0,6.54,4.0,ernest_woodard_LB
3744,Craig Woodson,SAF,California,72.0,200.0,4.45,36.0,13.0,127.0,NaN,...,4.0,106.0,2025,1.0,1.0,DB,4750000.0,6.68,3.0,craig_woodson_DB
3745,Marcus Yarns,RB,Delaware,71.0,193.0,4.45,37.5,NaN,122.0,NaN,...,NaN,NaN,2025,0.0,0.0,RB,536000.0,5.73,4.0,marcus_yarns_RB
3746,Grey Zabel,OT,North Dakota State,78.0,312.0,NaN,36.5,NaN,111.0,NaN,...,NaN,NaN,2025,0.0,0.0,OT,NaN,NaN,4.0,grey_zabel_OT

In [260]:
#combine_data.to_csv('../data/full_combine_data.csv', index=False)

In [262]:
#madden_ratings.to_csv('../data/full_madden_ratings.csv', index=False)

In [264]:
#player_salaries.to_csv('../data/full_player_salaries.csv', index=False)